---
import type { GetStaticPaths, CollectionEntry } from 'astro';
import { getCollection } from 'astro:content';

import Layout from '../../layouts/Layout.astro';
import Aside from '../../layouts/Aside.astro';
import ContentWrapper from '../../layouts/Content.astro';
import Section from '../../layouts/Section.astro';
import Chip from '../../components/general/Chip.astro';
import ChipContainer from '../../components/general/ChipContainer.astro';
import Line from '../../components/general/Line.astro'
import BackButton from '../../components/general/BackButton.astro';

type BlogPost = CollectionEntry<'blog'>;

export const getStaticPaths: GetStaticPaths = async () => {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
};

const { post } = Astro.props as { post: BlogPost };

const { Content } = await post.render();
---

<Layout 
  title={post.data.title} 
  description={post.data.description}
>
  <Aside />

  <ContentWrapper>

    <div class="flex flex-col gap-5.5">
      <BackButton />
      <h1 class="text-title-h3 text-primary">{post.data.title}</h1>
      <Line />
      <p class="text-principal-text text-primary">{post.data.description}</p>

      <div class="w-full h-50 object-fill rounded-lg">
        <img class="w-full h-full rounded-lg" src={post.data.image} />
      </div>
      
      <ChipContainer>{
          post.data.tags.map((tag: string) => (
            <Chip>{tag}</Chip>
          ))
        }
      </ChipContainer>

      <div class="blog-content">
        <Content />
      </div>

    </div>
  </ContentWrapper>

  <Section />
  <script>
  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".blog-content pre").forEach((block) => {
      const button = document.createElement("button");
      button.innerText = "Copy";
      button.className = "copy-btn";

      button.addEventListener("click", async () => {
        const code = block.querySelector("code");
        await navigator.clipboard.writeText(code.innerText);

        button.innerText = "Copied!";
        setTimeout(() => (button.innerText = "Copy"), 1500);
      });

      block.style.position = "relative";
      block.appendChild(button);
    });
  });
</script>
</Layout>

