---
interface Props {
    ProfileName: string,
    ProfileRole: string,
    ProfileSlogan: string,
    FocusTitle: string,
    FocusBullets: string[],
    SkillsTitle: string,
    SkillsBullets: string[]
    StrenghtsTitle: string,
    StrenghtsBullets: string[]
}

const { 
    ProfileName, 
    ProfileRole, 
    ProfileSlogan,
    FocusTitle,
    FocusBullets = [],
    SkillsTitle,
    SkillsBullets = [],
    StrenghtsTitle,
    StrenghtsBullets = []
} = Astro.props


import Profile from '../components/aside_components/Profile.astro';
import Skills from '../components/aside_components/Cards/Skills.astro';
import Strenghts from '../components/aside_components/Cards/Strenghts.astro';
import Focus from '../components/aside_components/Cards/Focus.astro';
import Footer from '../components/aside_components/Footer.astro';
---


<aside class="scroll-panel w-full h-auto flex flex-col gap-1 rounded-2xl bg-bg-surface overflow-hidden lg:w-81 lg:h-screen lg:overflow-y-auto lg:no-scrollbar lg:rounded-none">
    <Profile 
        name={ProfileName}
        role={ProfileRole},
        slogan={ProfileSlogan}
    />
    <div class="w-full h-full flex flex-col justify-start">
        <Focus
            title={FocusTitle}
            bullets={FocusBullets}
        />
        <Skills 
            title={SkillsTitle}
            bullets={SkillsBullets}
        />
        <Strenghts 
            title={StrenghtsTitle}
            bullets={StrenghtsBullets}
        />
    </div>
    <Footer />
</aside>
