---
import ChipReact from "../components/content_components/ChipReact";
import ContentItem from "../components/content_components/ContentItem.jsx";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<main class="max-w-125 min-w-125 h-screen flex flex-col flex-1 py-5.5 overflow-y-auto gap-5.5 no-scrollbar">
    <h1 class="text-title-h2 text-primary">Mis Proyectos</h1>

    {posts.map((p) => (
    <ContentItem client:load
        image={p.data.image}
        title={p.data.title}
        description={p.data.description}
        href={`/blog/${p.slug}`}
    >
        {p.data.tags.map((chip) => (
        <ChipReact>{chip}</ChipReact>
        ))}
    </ContentItem>
    ))}
</main>